services:
  - type: web
    name: spallanzani-serramenti
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
# Ultimo deploy: Tue Jan 13 10:47:45 PM EST 2026
